@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Poppins&display=swap");

:root {
  --black: #383739;
  --white: #cac7bb;
  --pink: #d2b6aa;
  --orange: #ed8c62;
  --blue: #8ca2b5;
  --green: #c7f600;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
}

.nav-logo img {
  width: 100px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-items {
  list-style: none;
}

.nav-link {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #111;
}

.nav-link:hover {
  border-bottom: 3px solid #000;
}

.content {
  margin-top: 85px;
}

.content-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.shoes-img {
  width: 600px;
  height: auto;
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.text-container {
  width: 450px;
}

.title {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--black);
}

.color-container {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(6, 25px);
}

.color-container div {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.color-container .black {
  background-color: var(--black);
}

.color-container .white {
  background-color: var(--white);
}

.color-container .pink {
  background-color: var(--pink);
}

.color-container .blue {
  background-color: var(--blue);
}

.color-container .orange {
  background-color: var(--orange);
}

.color-container .green {
  background-color: var(--green);
}

.color-container div:hover {
  transform: scale(1.2);
}

.desc {
  width: 100%;
  color: #7d7987;
  margin-top: 25px;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.buy-btn {
    width: 175px;
    height: 45px;
    border-radius: 100px;
    margin-top: 35px;
    background-color: var(--black);
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;

}

.buy-btn:hover {
    transform: scale(1.1);

}

.circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--black);
    clip-path: circle(400px at right 600px);
}